body { background-color: lightblue;
       padding-left:5px;
       font-family: Arial, Veranda, sans-serif;
       font-size:14pt;
}
h1 {font-style:normal;
    font-size: 40px;
    font-weight:bold
}
